body{
  margin:0;
  padding:0;
}

body::before {
    content: "";
    background-color: transparent;
    background-image: url("bg-preto.svg");
    background-repeat: repeat;
    opacity: 0.04;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -9999;
  }

html,body{
  height: 100%;
}

.dark\:bg-black{
  background-image: url("bg-preto.svg");
  opacity: 0.95;
  background-repeat: repeat;
}

.bg-black{
  background-image: url("bg-preto.svg");
  opacity: 0.95;
  background-repeat: repeat;
}

#clock{
  border-radius: 5px;
  border-color:#FFF;
  border-width: 2px;
}

.digital-clock {
  font-family: 'Share Tech Mono', monospace;
}

.square{
  width: calc(1rem - 1px);
  height: calc(1rem - 1px);
  margin-top: 1px;
  margin-left: 1px;
  border:1px solid #FFF;
  border-radius: 5px;
}

.square-exception{
  width: calc(1rem - 1px);
  height: calc(1rem - 1px);
  margin-top: 1px;
  margin-left: 1px;
  border:#FFF;
  border-radius: 5px;
}

.puzzle-start{
  left:0;
  top:0;
}